body{
    background-color: rgb(0, 0, 0);
}

div#app{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

h1{ 
   color: #EF1212; 
   font-size: 30px;
}

section.apresentencion{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 50%;
    padding: 30px;
    background-image: url("../../public/login/fundo_login_1.png");
    background-repeat: no-repeat; 
    background-position: center center;
    background-size: cover;
}

div#caixa{
    position: relative;
    margin: auto;
    padding: 55px 30px 30px;
    width:450px;
    background-color: rgba(0, 0, 0, 0.406);
    border-radius: 20px;
}

p.apresentencion-text, p.apresentencion-copy{
    color:white;
    margin:30px;
    text-align: justify;
    line-height: 30px;
    text-indent: 15.5px;
}

p.apresentencion-text {
    font-size: 18px;
}

spam {
    font-weight: bold;
}

p.apresentencion-copy {
    margin-top: 50px;
    font-size: 15px;
    text-align: center;
    margin-bottom: -10px;
}

section.login{
    min-height: 100vh;
    width: 50%;
    padding:30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

legend#titulo{
    text-align: center;
    font-size: 25px;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

img#img_logo{
    width:20%;
}

label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}

ion-icon {
    color: #C9B59C;
}

input.info {
    background-color: none;
    border: solid #C9B59C 1px;
    padding: 15px;
    margin: 5px;
    margin-bottom: 30px;
    border-radius: 20px;
    font-size: 15px;
    width: 300px;
    height: 60px;
}

input.btn {
    border: none;
    border-radius: 50px;
    padding: 20px;
    width: 200px;
    background-color: #FF2F00;
    color: white;
    cursor: pointer;
}

.forgot-password{
    margin-top: -30px;
    margin-bottom: 20px;
    font-size: 15px;
    padding: 5px;
    color: #BC0A0D;
    text-decoration: none;
}

legend {
    background-color: #F85C23;
    color: white;
    width: 300px;
    height: 60px;
    padding: 0 20px;
    border-radius: 20px;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
